.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.row {
    -fx-fill-width: true;
    -fx-stroke-width: 2px;
    -fx-width: 1000px;
    -fx-height: 100px;
}

.card {
    -fx-fill-width: true;
    -fx-stroke-width: 2px;
    -fx-width: 100px;
    -fx-height: 100px;
    -fx-padding: 10px;
}